.newArrival {
  margin-bottom: 140px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 60px;
}

.tag {
  color: #db4444;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.tag::before {
  content: "";
  width: 20px;
  height: 40px;
  background: #db4444;
  border-radius: 4px;
  flex-shrink: 0;
}

.sectionTitle h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.04em;
}

.arrivalGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.arrivalRight {
  display: grid;
  gap: 30px;
}

.arrivalSmallRow {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.arrivalCard {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background: #0d0d0d;
  min-height: 250px;
  display: flex;
  align-items: flex-end;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.arrivalCard:hover {
  transform: translateY(-8px);
}

.arrivalLarge {
  min-height: 300px;
}

.arrivalMedium {
  min-height: 250px;
}

.arrivalSmall {
  min-height: 250px;
}


.arrivalSmall:first-child img {
  position: absolute;
  width: 85%;
  height: 80%;
  object-fit: contain;
  object-position: center;
  right: 5%;
  top: 15%;
  opacity: 0.9;
}
.arrivalSmall:last-child img {
  position: absolute;
  width: 70%;
  height: 70%;
  object-fit: contain;
  object-position: center;
  right: 15%;
  top: 10%;
  opacity: 0.9;

}

.arrivalCard img {
  position: absolute;
  width: 100%;
  height: 90%;
  object-fit: contain;
  object-position: right;
  opacity: 0.8;
}

.arrivalContent {
  position: relative;
  z-index: 1;
  padding: 24px;
  color: #fafafa;
}

.arrivalContent h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.arrivalContent p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 12px;
  max-width: 100%;
}

.arrivalContent a {
  color: #fafafa;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 4px;
  border-bottom: 1px solid #fafafa;
  transition: opacity 0.3s;
}

.arrivalContent a:hover {
  opacity: 0.8;
  color:#db4444;
  border-color:#db4444;
  font-weight:900;
}

.arrivalSmall .arrivalContent h3 {
  margin-bottom: 4px;
}

.arrivalSmall .arrivalContent p {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.3;
}

@media (min-width: 768px) {
  .arrivalGrid {
    grid-template-columns: 1fr 1fr;
  }

  .arrivalSmallRow {
    grid-template-columns: repeat(2, 1fr);
  }
}
